<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.TextUnderstanding.DocumentUnderstandingHarvesting</key>
	<true/>
	<key>com.apple.TextUnderstanding.DocumentUpdateHandler</key>
	<true/>
	<key>com.apple.TextUnderstanding.SmartReplies.Inference</key>
	<true/>
	<key>com.apple.corespotlight.privateindex.unsandboxed</key>
	<true/>
	<key>com.apple.fileprovider.acl-read</key>
	<true/>
	<key>com.apple.fileprovider.acl-write</key>
	<true/>
	<key>com.apple.fileprovider.enumerate</key>
	<true/>
	<key>com.apple.fileprovider.extension-host</key>
	<true/>
	<key>com.apple.fileprovider.fetch-url</key>
	<true/>
	<key>com.apple.intelligenceplatform.EntityResolution</key>
	<true/>
	<key>com.apple.intelligenceplatform.View</key>
	<true/>
	<key>com.apple.mediaanalysisd.analysis</key>
	<true/>
	<key>com.apple.mediaanalysisd.client</key>
	<true/>
	<key>com.apple.private.assetsd.xpcstore_restricted.access</key>
	<array>
		<string>photos.person</string>
		<string>photos.face</string>
	</array>
	<key>com.apple.private.biome.client-identifier</key>
	<string>com.apple.internal.textunderstandingd</string>
	<key>com.apple.private.biome.read-write</key>
	<array>
		<string>TextUnderstanding.DocumentUnderstanding.PoemBuffer</string>
		<string>TextUnderstanding.DocumentUnderstanding.Poem</string>
		<string>TextUnderstanding.DocumentUnderstanding.PoemAnalytics</string>
	</array>
	<key>com.apple.private.corespotlight.bundleid</key>
	<string>com.apple.FileProvider.LocalStorage</string>
	<key>com.apple.private.corespotlight.internal</key>
	<true/>
	<key>com.apple.private.corespotlight.search.internal</key>
	<true/>
	<key>com.apple.private.intelligenceplatform.views.read-only</key>
	<array>
		<string>visualIdentifier</string>
		<string>entityAliasECR</string>
		<string>entitySubgraph</string>
		<string>entitySummary</string>
		<string>eventSubgraph</string>
		<string>peopleSubgraph</string>
		<string>inferenceFeaturesECR</string>
		<string>personEntityRelevanceRanking</string>
		<string>appEntityRelevanceRanking</string>
		<string>loiEntityRelevanceRanking</string>
	</array>
	<key>com.apple.private.security.storage.TextUnderstanding</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServicePhotos</string>
	</array>
	<key>com.apple.proactive.eventtracker</key>
	<true/>
	<key>com.apple.proactive.experiments.responses</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.TextUnderstanding.SmartReplies.Inference</string>
		<string>com.apple.proactive.experiments.responses</string>
		<string>com.apple.intelligenceplatform.View</string>
		<string>com.apple.intelligenceplatform.EntityResolution</string>
		<string>com.apple.mediaanalysisd.client</string>
		<string>com.apple.mediaanalysisd.analysis</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>AGXDeviceUserClient</string>
		<string>IOSurfaceRootUserClient</string>
		<string>AGXSharedUserClient</string>
		<string>AGXCommandQueue</string>
		<string>AGXDevice</string>
		<string>H11ANEInDirectPathClient</string>
	</array>
	<key>com.apple.trial.client</key>
	<array>
		<string>SMART_REPLY_EN</string>
		<string>UNDERSTANDING_PLATFORM_DOCUMENT_UNDERSTANDING</string>
		<string>UNDERSTANDING_PLATFORM_FOUND_IN</string>
		<string>UNDERSTANDING_PLATFORM_POEM</string>
	</array>
	<key>com.apple.webkit-client</key>
	<true/>
</dict>
</plist>
