<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.TVSetupUIService</string>
	<key>com.apple.PairingManager.HomeKit</key>
	<true/>
	<key>com.apple.PairingManager.Read</key>
	<true/>
	<key>com.apple.PairingManager.Write</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-read-access</key>
	<array>
		<string>preferences.plist</string>
	</array>
	<key>com.apple.UIKit.vends-view-services</key>
	<true/>
	<key>com.apple.VideoSubscriberAccount.DeveloperService</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.accounts.idms.fullaccess</key>
	<true/>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.captive.private</key>
	<true/>
	<key>com.apple.cdp.statemachine</key>
	<true/>
	<key>com.apple.cdp.utility</key>
	<true/>
	<key>com.apple.developer.device-information.user-assigned-device-name</key>
	<true/>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.developer.homekit.background-mode</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.homekit.private-spi-access</key>
	<true/>
	<key>com.apple.locationd.status</key>
	<true/>
	<key>com.apple.networkrelay.deviceMonitor</key>
	<true/>
	<key>com.apple.networkrelay.devices.read</key>
	<true/>
	<key>com.apple.networkrelay.devices.write</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>UniqueDeviceID</string>
		<string>WifiAddress</string>
		<string>WifiAddressData</string>
		<string>EthernetMacAddress</string>
		<string>BluetoothAddress</string>
	</array>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.attribution.implicitly-assumed-identity</key>
	<dict>
		<key>type</key>
		<string>path</string>
		<key>value</key>
		<string>/Applications/TVSetupUIService.app/TVSetupUIService</string>
	</dict>
	<key>com.apple.private.corewifi</key>
	<true/>
	<key>com.apple.private.homekit</key>
	<true/>
	<key>com.apple.private.homekit.remote-login.private</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceWillow</string>
		<string>kTCCServiceCamera</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Application Support/com.apple.VideoSubscriberAccount/</string>
		<string>/Library/Caches/com.apple.AppleMediaServices/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.SharingServices</string>
		<string>com.apple.PairingManager</string>
		<string>com.apple.wifi.manager</string>
		<string>com.apple.bluetooth.xpc</string>
		<string>com.apple.frontboard.systemappservices</string>
		<string>com.apple.cdp.daemon</string>
		<string>com.apple.private.corewifi-xpc</string>
		<string>com.apple.VideoSubscriberAccount.DeveloperService</string>
		<string>com.apple.terminusd</string>
		<string>com.apple.networking.captivenetworksupport</string>
		<string>com.apple.timed.xpc</string>
		<string>com.apple.adid</string>
		<string>com.apple.ak.puffin.xpc</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.VideoSubscriberAccount</string>
		<string>com.apple.siri.textinput</string>
		<string>com.apple.voicetrigger</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.sharing.Services</key>
	<true/>
	<key>com.apple.sharing.Session</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.remote-alert</key>
	<true/>
	<key>com.apple.wifi.eap-nearby-device-setup-config-copy</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.cfnetwork</string>
		<string>com.apple.mobilesafari</string>
		<string>com.apple.Sharing</string>
		<string>com.apple.VideoSubscriberAccount</string>
	</array>
</dict>
</plist>
