<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.PassbookUISceneService</string>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.QuartzCore.secure-mode</key>
	<true/>
	<key>com.apple.accounts.appleidauthentication.defaultaccess</key>
	<true/>
	<key>com.apple.apple-pay-trust.all-access</key>
	<true/>
	<key>com.apple.asd.allow</key>
	<true/>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.bannerkit.post</key>
	<true/>
	<key>com.apple.cards.all-access</key>
	<true/>
	<key>com.apple.finance.private</key>
	<true/>
	<key>com.apple.finance.store</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.internal.seserviced.all.endpoints.and.cas</key>
	<true/>
	<key>com.apple.internal.seserviced.ptattestation</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.usage_oracle</key>
	<true/>
	<key>com.apple.nfcd.hwmanager</key>
	<true/>
	<key>com.apple.nfcd.session.ecommerce</key>
	<true/>
	<key>com.apple.nfcd.session.peerpayment</key>
	<true/>
	<key>com.apple.nfcd.session.se</key>
	<true/>
	<key>com.apple.nfcd.session.trust</key>
	<true/>
	<key>com.apple.passes.add-silently</key>
	<true/>
	<key>com.apple.payment.all-access</key>
	<true/>
	<key>com.apple.payment.externalized-context</key>
	<true/>
	<key>com.apple.peerpayment.all-access</key>
	<true/>
	<key>com.apple.private.CoreAuthentication.SPI</key>
	<true/>
	<key>com.apple.private.LocalAuthentication.Storage</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.appleaccount.app-hidden-from-icloud-settings</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.WalletMobileAssets</string>
	</array>
	<key>com.apple.private.attribution.implicitly-assumed-identity</key>
	<dict>
		<key>type</key>
		<string>bundleID</string>
		<key>value</key>
		<string>com.apple.Passbook</string>
	</dict>
	<key>com.apple.private.corerecents</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.keychain.sysbound</key>
	<true/>
	<key>com.apple.private.managed-settings.effective-read</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.rtcreportingd</key>
	<true/>
	<key>com.apple.private.security.container-required</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAddressBook</string>
	</array>
	<key>com.apple.runningboard.assertions.PassbookUIService</key>
	<true/>
	<key>com.apple.runningboard.assertions.angeltarget</key>
	<true/>
	<key>com.apple.security.exception.files.home-relative-path.read-only</key>
	<array>
		<string>/Library/com.apple.ManagedSettings/EffectiveSettings.plist</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Caches/PassKit/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.PassKitCoreXPCService</string>
		<string>com.apple.nfcd.hwmanager</string>
		<string>com.apple.passd.assertions</string>
		<string>com.apple.passd.payment</string>
		<string>com.apple.passd.device-registration</string>
		<string>com.apple.passd.peer-payment</string>
		<string>com.apple.passd.account</string>
		<string>com.apple.passd.in-app-payment</string>
		<string>com.apple.passd.cloud-store</string>
		<string>com.apple.seld.tsmmanager</string>
		<string>com.apple.seserviced.session</string>
		<string>com.apple.hsa-authentication-server</string>
		<string>com.apple.cdp.daemon</string>
		<string>com.apple.financed.service.coredatastore</string>
		<string>com.apple.ManagedSettingsAgent.publisher</string>
		<string>com.apple.telephonyutilities.callservicesdaemon.callstatecontroller</string>
		<string>com.apple.symptom_diagnostics</string>
		<string>com.apple.ak.privateemail.xpc</string>
		<string>com.apple.ind.cloudfeatures</string>
	</array>
	<key>com.apple.seld.tsmmanager</key>
	<true/>
	<key>com.apple.seserviced.key</key>
	<true/>
	<key>com.apple.seserviced.kmlXpcService</key>
	<true/>
	<key>com.apple.seserviced.session.dck</key>
	<true/>
	<key>com.apple.springboard.deliveropenurlusingworkspace</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.openurlinbackground</key>
	<true/>
	<key>com.apple.springboard.openurlswhenlocked</key>
	<true/>
	<key>com.apple.wallet.features.all-access</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>com.apple.PassbookUIService</string>
	</array>
	<key>platform-application</key>
	<true/>
</dict>
</plist>
