<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.HomeCaptiveViewService</string>
	<key>com.apple.PairingManager.HomeKit</key>
	<true/>
	<key>com.apple.PairingManager.Read</key>
	<true/>
	<key>com.apple.PairingManager.Write</key>
	<true/>
	<key>com.apple.QuartzCore.secure-mode</key>
	<true/>
	<key>com.apple.UIKit.vends-view-services</key>
	<true/>
	<key>com.apple.bluetooth.discovery</key>
	<dict>
		<key>CNJ</key>
		<dict>
			<key>discoveryFlags</key>
			<array>
				<string>CNJ</string>
			</array>
			<key>viewControllerClassName</key>
			<string>HomeCaptiveViewService.RemoteAlertServiceViewController</string>
		</dict>
	</dict>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.captive.private</key>
	<true/>
	<key>com.apple.idle-timer-services</key>
	<true/>
	<key>com.apple.networkrelay.deviceMonitor</key>
	<true/>
	<key>com.apple.networkrelay.devices.read</key>
	<true/>
	<key>com.apple.networkrelay.devices.write</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.SharingDeviceAssets</string>
	</array>
	<key>com.apple.private.corewifi</key>
	<true/>
	<key>com.apple.private.security.container-required</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceBluetoothAlways</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.PairingManager</string>
		<string>com.apple.SharingServices</string>
		<string>com.apple.wifi.manager</string>
		<string>com.apple.bluetooth.xpc</string>
		<string>com.apple.mobilesafari-settings</string>
		<string>com.apple.networking.captivenetworksupport</string>
		<string>com.apple.terminusd</string>
		<string>com.apple.private.corewifi-xpc</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.sharing.Client</key>
	<true/>
	<key>com.apple.springboard-ui.client</key>
	<true/>
	<key>com.apple.springboard.activateRemoteAlert</key>
	<true/>
	<key>com.apple.springboard.remote-alert</key>
	<true/>
	<key>com.apple.springboard.requestScene-daemon</key>
	<true/>
	<key>com.apple.wifi.awdl</key>
	<true/>
	<key>com.apple.wifi.eap-nearby-device-setup-config-copy</key>
	<true/>
	<key>com.apple.wifi.events</key>
	<true/>
	<key>com.apple.wifi.events.private</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>com.apple.wifi.wow</key>
	<true/>
	<key>com.apple.wifip2pd</key>
	<true/>
	<key>com.apple.wlan.authentication</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
	</array>
	<key>platform-application</key>
	<true/>
</dict>
</plist>
