<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.activitysharingd</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>com.apple.activityawardsd</key>
	<true/>
	<key>com.apple.activitysharingd</key>
	<true/>
	<key>com.apple.carousel.notificationservice</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.developer.icloud-container-environment</key>
	<string>Production</string>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.nano.nanoregistry.generalaccess</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.attribution.explicitly-assumed-identities</key>
	<array>
		<dict>
			<key>type</key>
			<string>bundleID</string>
			<key>value</key>
			<string>com.apple.ActivityMonitorApp</string>
		</dict>
		<dict>
			<key>type</key>
			<string>bundleID</string>
			<key>value</key>
			<string>com.apple.Fitness</string>
		</dict>
	</array>
	<key>com.apple.private.cloudkit.masquerade</key>
	<true/>
	<key>com.apple.private.cloudkit.serviceNameForContainerMap</key>
	<dict>
		<key>com.apple.Fitness.ActivitySharing.EndToEndEncrypted</key>
		<string>com.apple.Fitness.ActivitySharing</string>
	</dict>
	<key>com.apple.private.cloudkit.setEnvironment</key>
	<true/>
	<key>com.apple.private.cloudkit.systemService</key>
	<true/>
	<key>com.apple.private.communicationsfilter</key>
	<true/>
	<key>com.apple.private.dmd.policy</key>
	<true/>
	<key>com.apple.private.healthkit</key>
	<true/>
	<key>com.apple.private.healthkit.authorization_bypass</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.fitnessfriends.icloud</string>
		<string>com.apple.private.alloy.fitnessfriends.imessage</string>
	</array>
	<key>com.apple.private.ids.messaging.high-priority</key>
	<array>
		<string>com.apple.private.alloy.fitnessfriends.icloud</string>
		<string>com.apple.private.alloy.fitnessfriends.imessage</string>
	</array>
	<key>com.apple.private.sandbox.profile:embedded</key>
	<string>temporary-sandbox</string>
	<key>com.apple.private.security.storage.Health</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServiceLiverpool</string>
	</array>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.ActivityMonitorApp</string>
		<string>com.apple.Fitness</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/mobile</string>
		<string>/private/var/mobile/Library/DeviceRegistry.state/</string>
		<string>/private/var/mobile/Library/Health/ActivitySharing</string>
		<string>/private/var/mobile/Library/Health/ActivitySharing/ContactsCache/</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>AppleKeyStoreUserClient</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.accountsd.accountmanager</string>
		<string>com.apple.activityawardsd</string>
		<string>com.apple.activitysharingd</string>
		<string>com.apple.apsd</string>
		<string>com.apple.Carousel.wristmonitor</string>
		<string>com.apple.ckdiscretionaryd</string>
		<string>com.apple.cloudd</string>
		<string>com.apple.cmfsyncagent.embedded.auth</string>
		<string>com.apple.contactsd</string>
		<string>com.apple.coreduetd.knowledge</string>
		<string>com.apple.dmd.policy</string>
		<string>com.apple.fitnesscoachingd</string>
		<string>com.apple.healthd.server</string>
		<string>com.apple.identityservicesd.embedded.auth</string>
		<string>com.apple.nanoprefsync</string>
		<string>com.apple.carousel.notificationservice</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.CloudKit</string>
		<string>com.apple.FitnessCoaching</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.ActivitySharing</string>
		<string>com.apple.activitysharingd</string>
		<string>com.apple.Fitness</string>
		<string>com.apple.nanolifestyle</string>
	</array>
	<key>com.apple.security.ts.springboard-services</key>
	<true/>
	<key>com.apple.security.ts.tmpdir</key>
	<string>com.apple.activitysharingd</string>
	<key>platform-application</key>
	<true/>
</dict>
</plist>
