<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CanInheritApplicationStateFromOtherProcesses</key>
	<true/>
	<key>com.apple.AXMediaUtilitiesService-access</key>
	<true/>
	<key>com.apple.AXUIViewService</key>
	<true/>
	<key>com.apple.QuartzCore.secure-mode</key>
	<true/>
	<key>com.apple.UIKit.vends-view-services</key>
	<true/>
	<key>com.apple.VoiceOverTouch</key>
	<true/>
	<key>com.apple.private.CommandAndControl.utility</key>
	<true/>
	<key>com.apple.private.attribution.implicitly-assumed-identity</key>
	<dict>
		<key>type</key>
		<string>path</string>
		<key>value</key>
		<string>/System/Library/CoreServices/VoiceOverTouch.app/vot</string>
	</dict>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.privacy.accounting.write</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServicePhotos</string>
		<string>kTCCServiceSpeechRecognition</string>
		<string>kTCCServiceMicrophone</string>
	</array>
	<key>com.apple.private.tcc.allow.overridable</key>
	<array>
		<string>kTCCServicePhotos</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-only</key>
	<array>
		<string>/Media/PhotoData/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Accessibility/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.accessibility.AXSpringBoardServer</string>
		<string>com.apple.AXMediaUtilitiesService</string>
		<string>com.apple.speech.CommandAndControl.utility</string>
		<string>com.apple.commandandcontrol</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.local-name</key>
	<array>
		<string>com.apple.AXMediaUtilitiesService</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.Accessibility</string>
		<string>com.apple.Accessibility.GuidedAccess</string>
		<string>com.apple.Accessibility</string>
		<string>com.apple.speech.SpeechRecognitionCommandAndControl</string>
		<string>com.apple.VoiceOverTouch</string>
		<string>com.apple.VoiceOverTouch.activities</string>
		<string>com.apple.ZoomTouch</string>
	</array>
	<key>com.apple.springboard.activateRemoteAlert</key>
	<true/>
	<key>com.apple.springboard.appbackgroundstyle</key>
	<true/>
	<key>com.apple.springboard.remote-alert</key>
	<false/>
	<key>platform-application</key>
	<true/>
</dict>
</plist>
