<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.PASViewService</string>
	<key>com.apple.PairingManager.Read</key>
	<true/>
	<key>com.apple.PairingManager.Write</key>
	<true/>
	<key>com.apple.ProximityAppleIDSetup.account-picker-host</key>
	<true/>
	<key>com.apple.UIKit.vends-view-services</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.bluetooth.discovery</key>
	<dict>
		<key>AppleIDSignIn</key>
		<dict>
			<key>bleRSSIThresholdHint</key>
			<integer>-45</integer>
			<key>discoveryTypes</key>
			<array>
				<string>AppleIDSignIn</string>
			</array>
			<key>limitToDeviceClasses</key>
			<array>
				<string>iPad</string>
				<string>iPhone</string>
			</array>
			<key>viewControllerClassName</key>
			<string>PASViewService.PASVSPrimaryViewController</string>
		</dict>
	</dict>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.cdp.statemachine</key>
	<true/>
	<key>com.apple.private.CoreAuthentication.SPI</key>
	<true/>
	<key>com.apple.private.LocalAuthentication.CallerName</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>UniqueDeviceID</string>
		<string>ProvisioningUniqueDeviceID</string>
	</array>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.applemediaservices</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.familycircle</key>
	<true/>
	<key>com.apple.private.octagon</key>
	<true/>
	<key>com.apple.private.screen-time.persistence</key>
	<true/>
	<key>com.apple.private.screentime-setup</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceBluetoothAlways</string>
		<string>kTCCServiceCamera</string>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServiceFaceID</string>
	</array>
	<key>com.apple.private.tcc.allow.overridable</key>
	<array>
		<string>kTCCServiceAddressBook</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.security.octagon</string>
		<string>com.apple.PairingManager</string>
		<string>com.apple.cdp.daemon</string>
		<string>com.apple.distributed_notifications@Uv3</string>
		<string>com.apple.familycircle.agent</string>
		<string>com.apple.cdp.daemon</string>
		<string>com.apple.xpc.amsaccountsd</string>
	</array>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.icloud.findmydevice.managed</string>
	</array>
	<key>com.apple.sharing.Client</key>
	<true/>
	<key>com.apple.sharing.Session</key>
	<true/>
	<key>com.apple.springboard-ui.client</key>
	<true/>
	<key>com.apple.springboard.activateRemoteAlert</key>
	<true/>
	<key>com.apple.springboard.remote-alert</key>
	<true/>
	<key>com.apple.springboard.requestScene-daemon</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>Apple Certification Authority.apple</string>
	</array>
	<key>platform-application</key>
	<true/>
</dict>
</plist>
