<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CARAppHidden</key>
	<true/>
	<key>SBStarkCapable</key>
	<true/>
	<key>application-identifier</key>
	<string>com.apple.siri</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
		<string>phone</string>
	</array>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.QuartzCore.secure-mode</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>com.apple.radios.plist</string>
	</array>
	<key>com.apple.UIKit.vends-view-services</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.assistant.analytics-observation</key>
	<true/>
	<key>com.apple.assistant.client</key>
	<true/>
	<key>com.apple.assistant.security</key>
	<true/>
	<key>com.apple.assistant.settings</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.avfoundation.allow-system-wide-context</key>
	<true/>
	<key>com.apple.backboard.displaybrightness</key>
	<true/>
	<key>com.apple.backboardd.cancelsTouchesInHostedContent</key>
	<true/>
	<key>com.apple.backboardd.hostCanRequireTouchesFromHostedContent</key>
	<true/>
	<key>com.apple.bannerkit.post</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.bulletinboard.observer</key>
	<true/>
	<key>com.apple.bulletinboard.settings</key>
	<true/>
	<key>com.apple.caraccessoryframework.gatekeeper</key>
	<true/>
	<key>com.apple.chronoservices</key>
	<true/>
	<key>com.apple.coreaudio.allow-amr-decode</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coremedia.allow-mpeg4streaming</key>
	<true/>
	<key>com.apple.coremedia.allow-protected-content-playback</key>
	<true/>
	<key>com.apple.corespeech.corespeechd.xpc</key>
	<true/>
	<key>com.apple.developer.icloud-container-environment</key>
	<string>Production</string>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>com.apple.notes</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.frontboard.systemappservices</key>
	<true/>
	<key>com.apple.frontboardservices.display-layout-monitor</key>
	<true/>
	<key>com.apple.geoanalyticsd.telemetry</key>
	<true/>
	<key>com.apple.icloud.fmfd.access</key>
	<true/>
	<key>com.apple.icloud.searchpartyd.securelocations.access</key>
	<true/>
	<key>com.apple.intents.extension.discovery</key>
	<true/>
	<key>com.apple.intents.intents-image-service</key>
	<true/>
	<key>com.apple.intents.uiextension.discovery</key>
	<true/>
	<key>com.apple.itunesstored.lookup</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.keystore.device</key>
	<true/>
	<key>com.apple.locationd.authorizeapplications</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.mobilemail.mailservices</key>
	<true/>
	<key>com.apple.powerd.lowpowermode.allow</key>
	<true/>
	<key>com.apple.private.CacheDelete</key>
	<array>
		<string>CLIENT_ENTITLEMENT</string>
		<string>PURGE_ENTITLEMENT</string>
		<string>CANCEL_PURGE_ENTITLEMENT</string>
	</array>
	<key>com.apple.private.ClipServices</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.allowed</key>
	<true/>
	<key>com.apple.private.appleaccount.app-hidden-from-icloud-settings</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.Trial.Siri.SiriUnderstandingAttentionAssets</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriUnderstandingNLOverrides</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriDictationAssets</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriUnderstandingNL</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriUnderstandingAsrHammer</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriExperienceCam</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriInferredHelpfulness</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriTextToSpeech</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriUnderstandingAsrAssistant</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriFindMyConfigurationFiles</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriUnderstandingAsrUaap</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriUnderstandingMorphun</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriDialogAssets</string>
	</array>
	<key>com.apple.private.assets.bypass-asset-types-check</key>
	<true/>
	<key>com.apple.private.attentionawareness</key>
	<true/>
	<key>com.apple.private.attribution.implicitly-assumed-identity</key>
	<dict>
		<key>type</key>
		<string>path</string>
		<key>value</key>
		<string>/Applications/Siri.app/Siri</string>
	</dict>
	<key>com.apple.private.biome.read-only</key>
	<array>
		<string>AppLaunch</string>
		<string>AppIntent</string>
	</array>
	<key>com.apple.private.bmk.allow</key>
	<true/>
	<key>com.apple.private.contacts</key>
	<true/>
	<key>com.apple.private.corerecents</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.coreservices.canopenactivity</key>
	<true/>
	<key>com.apple.private.donotdisturb.mode.assertion.client-identifiers</key>
	<array>
		<string>com.apple.siri.Settings</string>
	</array>
	<key>com.apple.private.donotdisturb.mode.assertion.user-requested.client-identifiers</key>
	<array>
		<string>com.apple.siri.Settings</string>
	</array>
	<key>com.apple.private.donotdisturb.state.request.client-identifiers</key>
	<array>
		<string>com.apple.siri.Settings</string>
	</array>
	<key>com.apple.private.donotdisturb.state.updates.client-identifiers</key>
	<array>
		<string>com.apple.siri.Settings</string>
	</array>
	<key>com.apple.private.externalaccessory.showallaccessories</key>
	<true/>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>com.apple.private.imcore.imdpersistence.database-access</key>
	<true/>
	<key>com.apple.private.librarian.container-proxy</key>
	<true/>
	<key>com.apple.private.mobiletimerd</key>
	<true/>
	<key>com.apple.private.remindd</key>
	<dict>
		<key>userInteractive</key>
		<true/>
	</dict>
	<key>com.apple.private.replay-kit</key>
	<true/>
	<key>com.apple.private.security.storage.Notes</key>
	<true/>
	<key>com.apple.private.security.storage.SiriVocabulary</key>
	<true/>
	<key>com.apple.private.sessionkit.presentationObserver</key>
	<true/>
	<key>com.apple.private.sessionkit.prominentPresentationAssertionRequester</key>
	<true/>
	<key>com.apple.private.sleepd</key>
	<true/>
	<key>com.apple.private.sportskit.client</key>
	<true/>
	<key>com.apple.private.subscriptionservice.all-sources.read-only</key>
	<true/>
	<key>com.apple.private.suggestions.contacts</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServiceCalendar</string>
		<string>kTCCServiceReminders</string>
		<string>kTCCServiceMediaLibrary</string>
		<string>kTCCServiceCamera</string>
	</array>
	<key>com.apple.private.tcc.manager.access.modify</key>
	<array>
		<string>kTCCServiceSiri</string>
	</array>
	<key>com.apple.private.tcc.manager.access.read</key>
	<array>
		<string>kTCCServiceAll</string>
	</array>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.siri.NotificationSource</string>
	</array>
	<key>com.apple.private.usernotifications.settings</key>
	<array>
		<string>read</string>
	</array>
	<key>com.apple.private.xpc.domain-extension</key>
	<true/>
	<key>com.apple.private.xpc.domain-extension.proxy</key>
	<true/>
	<key>com.apple.proactive.eventtracker</key>
	<true/>
	<key>com.apple.rootless.storage.coreduet_knowledge_store</key>
	<true/>
	<key>com.apple.runningboard.assertions.frontboard</key>
	<true/>
	<key>com.apple.runningboard.endowment-originator</key>
	<true/>
	<key>com.apple.runningboard.launchprocess</key>
	<true/>
	<key>com.apple.runningboard.primitiveattribute</key>
	<true/>
	<key>com.apple.runningboard.terminateprocess</key>
	<true/>
	<key>com.apple.screenshotservices.ssuiservice.showscreenshotui</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.apple.Maps</string>
		<string>group.com.apple.icloud.fm</string>
		<string>group.com.apple.notes</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/mobile/tmp/com.apple.WorkflowKit.BackgroundShortcutRunner/</string>
		<string>/private/var/mobile/tmp/SiriMessages/</string>
		<string>/private/var/mobile/Media/</string>
		<string>/private/var/mobile/Containers/Shared/AppGroup/</string>
		<string>/private/var/mobile/Library/Logs/CrashReporter/Assistant/SpeechLogs/</string>
		<string>/private/var/mobile/Library/Logs/CrashReporter/VoiceTrigger/</string>
		<string>/private/var/containers/Bundle/Application/</string>
		<string>/private/var/containers/Shared/SystemGroup/systemgroup.com.apple.configurationprofiles/Library/ConfigurationProfiles/MDMAppManagement.plist</string>
		<string>/private/var/mobile/Library/Assistant/AssistantSampled/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-only</key>
	<array>
		<string>/Library/com.apple.PrivacyDisclosure/</string>
		<string>/tmp/SiriMessages/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Assistant/TrimmedAudio/</string>
		<string>/Library/Notes/</string>
		<string>/Library/Caches/com.apple.notes.autoincrement.lock</string>
		<string>/Library/Caches/com.apple.notes.objectcreation.lock</string>
		<string>/Library/com.apple.WatchListKit/</string>
		<string>/Library/Assistant/PreviousConversation/</string>
		<string>/Library/Caches/com.apple.AppleMediaServices/</string>
		<string>/Library/Caches/com.apple.siri.SiriGuideUpdateCache.plist</string>
		<string>/Library/Logs/CrashReporter/Assistant/CardLogs/</string>
		<string>/Library/Logs/CrashReporter/VoiceServices/</string>
		<string>/Library/Logs/CrashReporter/Assistant</string>
		<string>/Library/Assistant/SiriVocabulary/</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>AppleSPUHIDDriverUserClient</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.caraccessoryframework.gatekeeper</string>
		<string>com.apple.sirisuggestions</string>
		<string>com.apple.siriinferenced</string>
		<string>com.apple.siriinferenced.remembers</string>
		<string>com.apple.itunescloud.music-subscription-status-service</string>
		<string>com.apple.trial.status</string>
		<string>com.apple.sportsd.xpc</string>
		<string>com.apple.siri.encore_xpc_service</string>
		<string>com.apple.sleepd.sleepserver</string>
		<string>com.apple.AttentionAwareness</string>
		<string>com.apple.spotlight.IndexAgent</string>
		<string>com.apple.spotlight.SearchAgent</string>
		<string>com.apple.watchlistd.xpc</string>
		<string>com.apple.MobileTimer.alarmserver</string>
		<string>com.apple.MobileTimer.timerserver</string>
		<string>com.apple.ak.anisette.xpc</string>
		<string>com.apple.siri.VoiceShortcuts.xpc</string>
		<string>com.apple.assistant.analytics-observation</string>
		<string>com.apple.assistant.security</string>
		<string>com.apple.assistant.settings</string>
		<string>com.apple.commandandcontrol</string>
		<string>com.apple.donotdisturb.service</string>
		<string>com.apple.powerd.lowpowermode</string>
		<string>com.apple.siri.app</string>
		<string>com.apple.siri.analytics.assistant</string>
		<string>com.apple.remindd</string>
		<string>com.apple.remindd.userInteractive</string>
		<string>com.apple.chronoservices</string>
		<string>com.apple.ClipServices.clipserviced</string>
		<string>com.apple.carkit.dnd.service</string>
		<string>com.apple.CarPlayApp.non-launching-service</string>
		<string>com.apple.siri.activation.service</string>
		<string>com.apple.coreduetd.context</string>
		<string>com.apple.corespeech.corespeechd.attsiri.service</string>
		<string>com.apple.usernotifications.usernotificationsettingsservice</string>
		<string>com.apple.siriknowledged</string>
		<string>com.apple.triald.namespace-management</string>
		<string>com.apple.mobileasset.autoasset</string>
		<string>com.apple.siri.uaf.service</string>
		<string>com.apple.donotdisturb.service.non-launching</string>
		<string>com.apple.dmd.policy</string>
		<string>com.apple.icloud.searchparty.locationfetch.items</string>
		<string>com.apple.icloud.searchpartyd.securelocations</string>
		<string>com.apple.sirittsd</string>
		<string>com.apple.sessionservices</string>
		<string>com.apple.shazamd.ui</string>
	</array>
	<key>com.apple.security.exception.mach-register.global-name</key>
	<array>
		<string>com.apple.siri.app</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.mobilesafarishared</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.Accessibility</string>
		<string>com.apple.mobilenotes</string>
		<string>com.apple.assistant</string>
		<string>com.apple.siri</string>
		<string>com.apple.SiriViewService</string>
		<string>com.apple.siri.internal</string>
		<string>com.apple.siri.textinput</string>
		<string>com.apple.assistant.settings</string>
		<string>com.apple.assistant.logging</string>
		<string>com.apple.mobilemail</string>
		<string>com.apple.voiceservices</string>
		<string>com.apple.remindd</string>
		<string>com.apple.assistant.backedup</string>
	</array>
	<key>com.apple.security.temporary-exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.siri.analytics.assistant</string>
	</array>
	<key>com.apple.siri.VoiceShortcuts.xpc</key>
	<true/>
	<key>com.apple.siri.analytics.assistant</key>
	<array>
		<string>stream.unifiedMessageStream.readonly</string>
	</array>
	<key>com.apple.siriinferenced</key>
	<true/>
	<key>com.apple.siriknowledged</key>
	<true/>
	<key>com.apple.sirisuggestions.allow</key>
	<true/>
	<key>com.apple.sirisuggestions.application-id</key>
	<string>com.apple.siri</string>
	<key>com.apple.springboard-ui.client</key>
	<true/>
	<key>com.apple.springboard.hardware-button-service.event-consumption</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.openurlinbackground</key>
	<true/>
	<key>com.apple.springboard.openurlswhenlocked</key>
	<true/>
	<key>com.apple.springboard.remote-alert</key>
	<true/>
	<key>com.apple.trial.client</key>
	<array>
		<string>321</string>
		<string>322</string>
		<string>371</string>
		<string>372</string>
		<string>401</string>
		<string>405</string>
		<string>406</string>
		<string>407</string>
		<string>408</string>
		<string>409</string>
		<string>425</string>
		<string>750</string>
		<string>751</string>
		<string>752</string>
		<string>753</string>
		<string>754</string>
		<string>755</string>
		<string>757</string>
		<string>910</string>
		<string>961</string>
		<string>1000</string>
		<string>1350</string>
		<string>1460</string>
	</array>
	<key>com.apple.trial.status</key>
	<true/>
	<key>com.apple.trial.status.deployment-environment.allow</key>
	<array>
		<integer>0</integer>
	</array>
	<key>com.apple.trial.status.namespace-name.allow</key>
	<array>
		<string>SIRI_AUDIO_LAPSED_MUSIC_USER</string>
	</array>
	<key>com.apple.visualvoicemail.client</key>
	<true/>
	<key>com.apple.voiceservices.tts.customvoice</key>
	<true/>
	<key>com.apple.voicetrigger.voicetriggerservice</key>
	<true/>
	<key>com.apple.watchlist.private</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>fairplay-client</key>
	<string>516366292</string>
	<key>keychain-access-groups</key>
	<array>
		<string>appleaccount</string>
		<string>apple</string>
	</array>
</dict>
</plist>
