<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupd-connection-initiate</key>
	<true/>
	<key>com.apple.CorePrescription.CalibrationDataFetcher</key>
	<true/>
	<key>com.apple.PairingManager.Read</key>
	<true/>
	<key>com.apple.PairingManager.Write</key>
	<true/>
	<key>com.apple.QuartzCore.secure-mode</key>
	<true/>
	<key>com.apple.UIKit.vends-view-services</key>
	<true/>
	<key>com.apple.assistant.settings</key>
	<true/>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.icloud.findmydeviced.access</key>
	<true/>
	<key>com.apple.locationd.archived_authorization_decisions</key>
	<true/>
	<key>com.apple.locationd.authorizeapplications</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled.configurationprofiles</key>
	<array>
		<string>SilentNonUIInstallation</string>
		<string>Removal</string>
	</array>
	<key>com.apple.managedconfiguration.teslad-access</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>UniqueDeviceID</string>
	</array>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.SharingDeviceAssets</string>
	</array>
	<key>com.apple.private.coreservices.canopenactivity</key>
	<true/>
	<key>com.apple.private.followup</key>
	<true/>
	<key>com.apple.private.healthkit.authorization_bypass</key>
	<true/>
	<key>com.apple.private.healthkit.metadata.private</key>
	<true/>
	<key>com.apple.private.healthkit.read_authorization_override</key>
	<array>
		<string>HKVisionPrescriptionTypeIdentifier</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.CorePrescription.CalibrationDataFetcher</string>
		<string>com.apple.SharingServices</string>
		<string>com.apple.remote-text-editing</string>
		<string>com.apple.PairingManager</string>
		<string>com.apple.remote-text-editing-legacy</string>
		<string>com.apple.rapport.remote-text-input</string>
		<string>com.apple.backupd</string>
		<string>com.apple.timed.xpc</string>
		<string>com.apple.cdp.daemon</string>
		<string>com.apple.cdp.statemachine</string>
		<string>com.apple.corefollowup.agent</string>
	</array>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.configurationprofiles</string>
	</array>
	<key>com.apple.sharing.Client</key>
	<true/>
	<key>com.apple.sharing.Session</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.RealityDevice</string>
		<string>com.apple.CoreRX</string>
	</array>
</dict>
</plist>
