<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abs-client</key>
	<string>143531244</string>
	<key>com.apple.BTServer.allowRestrictedServices</key>
	<true/>
	<key>com.apple.QuartzCore.secure-mode</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>com.apple.wifi.plist</string>
		<string>preferences.plist</string>
		<string>com.apple.radios.plist</string>
	</array>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.logind.LoginUI.entitlement</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.mkb.usersession.delete</key>
	<true/>
	<key>com.apple.mkb.usersession.info</key>
	<true/>
	<key>com.apple.mkb.usersession.load</key>
	<true/>
	<key>com.apple.mkb.usersession.loginwindow</key>
	<true/>
	<key>com.apple.mkb.usersession.switch</key>
	<true/>
	<key>com.apple.mkb.usersession.synctest</key>
	<true/>
	<key>com.apple.mobile.keybagd.UserManager.bubblepop</key>
	<true/>
	<key>com.apple.private.CacheDelete</key>
	<array>
		<string>PURGE_ENTITLEMENT</string>
		<string>CLIENT_ENTITLEMENT</string>
	</array>
	<key>com.apple.private.MobileContainerManager.lookup</key>
	<dict>
		<key>systemData</key>
		<array>
			<string>com.apple.springboard</string>
		</array>
	</dict>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>SerialNumber</string>
		<string>UniqueDeviceID</string>
	</array>
	<key>com.apple.private.attentionawareness</key>
	<true/>
	<key>com.apple.private.attentionawareness.poll</key>
	<true/>
	<key>com.apple.private.bmk.allow</key>
	<true/>
	<key>com.apple.private.corewifi.internal</key>
	<true/>
	<key>com.apple.private.defaults-shared-ipad-loginui</key>
	<true/>
	<key>com.apple.private.logging.diagnostic</key>
	<true/>
	<key>com.apple.private.logging.stream</key>
	<true/>
	<key>com.apple.private.security.container-required</key>
	<true/>
	<key>com.apple.private.system-keychain</key>
	<true/>
	<key>com.apple.securebackupd.access</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/containers/Shared/SystemGroup/systemgroup.com.apple.configurationprofiles/Library/ConfigurationProfiles/SharedDeviceConfiguration.plist</string>
		<string>/private/var/containers/Shared/SystemGroup/systemgroup.com.apple.configurationprofiles/Library/ConfigurationProfiles/MultiUserDeviceConfiguration.plist</string>
		<string>/usr/libexec/studentd</string>
		<string>/private/var/mobile/Library/SpringBoard/LockBackground.cpbitmap</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<string>RootDomainUserClient</string>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.mobile.usermanagerd.xpc</string>
		<string>com.apple.private.corewifi.internal-xpc</string>
		<string>com.apple.ak.auth.xpc</string>
		<string>com.apple.logind.LoginUI.machService</string>
		<string>com.apple.mobile.keybagd.xpc</string>
		<string>com.apple.studentd</string>
		<string>com.apple.mobile.keybagd.UserManager.xpc</string>
		<string>com.apple.logind.client.machService</string>
		<string>com.apple.AttentionAwareness</string>
		<string>com.apple.SecureBackupDaemon</string>
		<string>com.apple.paperboard.services</string>
		<string>com.apple.cache_delete.public</string>
		<string>com.apple.cache_delete</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>kCFPreferencesAnyApplication</string>
	</array>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.userimagecache</string>
		<string>systemgroup.com.apple.configurationprofiles</string>
	</array>
	<key>com.apple.springboard.appbackgroundstyle</key>
	<true/>
	<key>com.apple.springboard.hardware-button-service.event-consumption</key>
	<true/>
	<key>com.apple.springboard.setWallpaperVariant</key>
	<true/>
	<key>com.apple.springboard.wallpaper-access</key>
	<true/>
	<key>com.apple.studentd.configuration</key>
	<true/>
	<key>com.apple.umd.usersession.provision</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.identities</string>
		<string>com.apple.certificates</string>
		<string>com.apple.LoginUI</string>
	</array>
</dict>
</plist>
