<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.freeform</string>
	<key>aps-environment</key>
	<string>production</string>
	<key>com.apple.PencilKit.allowsSnapToShape</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.developer.icloud-container-environment</key>
	<string>Production</string>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>com.apple.freeform</string>
		<string>iCloud.com.apple.freeform</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>com.apple.freeform</string>
	<key>com.apple.developer.user-fonts</key>
	<array>
		<string>app-usage</string>
	</array>
	<key>com.apple.excludes-extensions</key>
	<true/>
	<key>com.apple.freeform.USD-renderer-remote-UI-entitlement</key>
	<true/>
	<key>com.apple.frontboard.debugapplications</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.locationd.authorizeapplications</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.appleaccount.app-hidden-from-icloud-settings</key>
	<true/>
	<key>com.apple.private.appshortcuts-allow-omit-appname</key>
	<true/>
	<key>com.apple.private.clouddocs.sharing.private-interface</key>
	<true/>
	<key>com.apple.private.cloudkit.realTimeOperations</key>
	<true/>
	<key>com.apple.private.cloudkit.spi</key>
	<true/>
	<key>com.apple.private.contactsui</key>
	<true/>
	<key>com.apple.private.copresence</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.hid.client.event-dispatch.internal</key>
	<true/>
	<key>com.apple.private.ind.client</key>
	<true/>
	<key>com.apple.private.metadata.exattrs</key>
	<true/>
	<key>com.apple.private.security.system-application</key>
	<true/>
	<key>com.apple.private.shortcuts.IntentsAvailableDuringBuddy</key>
	<true/>
	<key>com.apple.private.sociallayer.highlights</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceCamera</string>
		<string>kTCCServiceLiverpool</string>
		<string>kTCCServiceMicrophone</string>
	</array>
	<key>com.apple.private.tcc.allow-or-regional-prompt</key>
	<array>
		<string>kTCCServiceAddressBook</string>
	</array>
	<key>com.apple.runningboard.freeform.USD-renderer-remote-UI</key>
	<true/>
	<key>com.apple.samples.cloudkit.sharing</key>
	<true/>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.apple.freeform</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.coreduetd.knowledge</string>
		<string>com.apple.cdp.daemon</string>
		<string>com.apple.LinkPresentation.LinkSnapshotGeneratorService</string>
		<string>com.apple.SharePlay.GroupSessionService</string>
		<string>com.apple.CloudSharing.SPIHelper-iOS</string>
		<string>com.apple.ind.xpc</string>
		<string>com.apple.spotlight.CSExattrCryptoService</string>
		<string>com.apple.synapse.DocumentWorkflowsService</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.local-name</key>
	<array>
		<string>com.apple.iphone.axserver</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.SocialLayer</string>
		<string>com.apple.cloud.quota</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.freeform</string>
	</array>
	<key>com.apple.security.octagon</key>
	<true/>
	<key>com.apple.security.personal-information.addressbook</key>
	<true/>
	<key>com.apple.security.print</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>platform-application</key>
	<true/>
</dict>
</plist>
