<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CARCapableApp</key>
	<true/>
	<key>com.apple.assistant.settings</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.private.CarPlayServices.icon-layout</key>
	<true/>
	<key>com.apple.private.CarPlayUIServices.status-bar-style</key>
	<true/>
	<key>com.apple.private.attribution.implicitly-assumed-identity</key>
	<dict>
		<key>type</key>
		<string>path</string>
		<key>value</key>
		<string>/Applications/CarPlaySettings.app/CarPlaySettings</string>
	</dict>
	<key>com.apple.private.carkit</key>
	<true/>
	<key>com.apple.private.carkit.dnd</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.donotdisturb.modeconfiguration.modify.client-identifiers</key>
	<array>
		<string>com.apple.carplay.settings</string>
	</array>
	<key>com.apple.private.donotdisturb.modeconfiguration.request.client-identifiers</key>
	<array>
		<string>com.apple.carplay.settings</string>
	</array>
	<key>com.apple.private.donotdisturb.modeconfiguration.updates.client-identifiers</key>
	<array>
		<string>com.apple.carplay.settings</string>
	</array>
	<key>com.apple.private.donotdisturb.settings.modify.client-identifiers</key>
	<array>
		<string>com.apple.carplay.settings</string>
	</array>
	<key>com.apple.private.donotdisturb.settings.request.client-identifiers</key>
	<array>
		<string>com.apple.carplay.settings</string>
	</array>
	<key>com.apple.private.donotdisturb.settings.updates.client-identifiers</key>
	<array>
		<string>com.apple.carplay.settings</string>
	</array>
	<key>com.apple.private.donotdisturb.state.request.client-identifiers</key>
	<array>
		<string>com.apple.carplay.settings</string>
	</array>
	<key>com.apple.private.donotdisturb.state.updates.client-identifiers</key>
	<array>
		<string>com.apple.carplay.settings</string>
	</array>
	<key>com.apple.private.usernotifications.settings</key>
	<array>
		<string>read</string>
		<string>write</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.CarPlayApp.service</string>
		<string>com.apple.CarPlayApp.status-bar-service</string>
		<string>com.apple.carkit.service</string>
		<string>com.apple.carkit.dnd.service</string>
		<string>com.apple.usernotifications.usernotificationsettingsservice</string>
		<string>com.apple.assistant.settings</string>
		<string>com.apple.donotdisturb.service</string>
		<string>com.apple.donotdisturb.service.non-launching</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.UIKit</string>
		<string>com.apple.SiriViewService</string>
		<string>com.apple.vehiclePolicy.DNDMode</string>
		<string>com.apple.CarPlayApp</string>
		<string>com.apple.carplay.internal</string>
		<string>com.apple.internal.carkitd</string>
		<string>com.apple.CarPlaySettings</string>
	</array>
</dict>
</plist>
