<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adi-client</key>
	<string>409835401</string>
	<key>application-identifier</key>
	<string>com.apple.amsengagementd</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>aps-environment</key>
	<string>serverPreferred</string>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
	</array>
	<key>com.apple.application-identifier</key>
	<string>com.apple.amsengagementd</string>
	<key>com.apple.appstored.private</key>
	<true/>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.coretelephony.Identity.get</key>
	<true/>
	<key>com.apple.developer.aps-environment</key>
	<string>serverPreferred</string>
	<key>com.apple.developer.icloud-container-environment</key>
	<string>Production</string>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>com.apple.applemediaservices.metrics</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.fitcore</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.keystore.absinthe</key>
	<true/>
	<key>com.apple.keystore.sik.access</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.mobileactivationd.device-identifiers</key>
	<true/>
	<key>com.apple.mobileactivationd.spi</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.appleaccount.app-hidden-from-icloud-settings</key>
	<true/>
	<key>com.apple.private.applemediaservices</key>
	<true/>
	<key>com.apple.private.applemediaservices.engagement.extension</key>
	<true/>
	<key>com.apple.private.appstored</key>
	<array>
		<string>IAPHistory</string>
		<string>PurchaseHistory</string>
	</array>
	<key>com.apple.private.aps-connection-initiate</key>
	<true/>
	<key>com.apple.private.canModifyAppLinkPermissions</key>
	<true/>
	<key>com.apple.private.cfnetwork.har-capture-amp</key>
	<true/>
	<key>com.apple.private.cloudkit.serviceNameForContainerMap</key>
	<dict>
		<key>com.apple.applemediaservices.metrics</key>
		<string>com.apple.applemediaservices.metrics</string>
	</dict>
	<key>com.apple.private.cloudkit.setEnvironment</key>
	<true/>
	<key>com.apple.private.cloudkit.spi</key>
	<true/>
	<key>com.apple.private.cloudkit.systemService</key>
	<true/>
	<key>com.apple.private.familycircle</key>
	<true/>
	<key>com.apple.private.followup</key>
	<true/>
	<key>com.apple.private.ids.phone-number-authentication</key>
	<true/>
	<key>com.apple.private.kvs.ignore-quota</key>
	<true/>
	<key>com.apple.private.mobilestoredemo.enabledemo</key>
	<array>
		<string>Manage</string>
	</array>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.nsurlsession.impersonate</key>
	<true/>
	<key>com.apple.private.nsurlsession.impersonatev</key>
	<true/>
	<key>com.apple.private.security.restricted-application-groups</key>
	<array>
		<string>group.com.apple.iBooks</string>
		<string>group.com.apple.news</string>
	</array>
	<key>com.apple.private.security.storage.AppleMediaServices</key>
	<true/>
	<key>com.apple.private.swc.additional-service-details-provider</key>
	<array>
		<string>com.apple.ios.StoreKitUIService</string>
		<string>com.apple.AMSEngagementViewService</string>
		<string>com.apple.AppStore</string>
		<string>com.apple.Fitness</string>
		<string>4GG2695MJK.com.apple.iBooks</string>
		<string>4GG2695MJK.com.apple.iBooksX</string>
		<string>com.apple.iBooksX</string>
		<string>com.apple.Music</string>
		<string>com.apple.News</string>
		<string>com.apple.news</string>
		<string>ZL6BUSYGB3.com.apple.news</string>
		<string>com.apple.tv</string>
		<string>com.apple.TV</string>
		<string>com.apple.TVWatchList</string>
		<string>com.apple.Bridge</string>
		<string>com.apple.MobileStore</string>
		<string>com.apple.Podcasts</string>
		<string>243LU875E5.com.apple.podcasts</string>
		<string>com.apple.MobileSMS</string>
	</array>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceLiverpool</string>
	</array>
	<key>com.apple.private.ubiquity-additional-kvstore-identifiers</key>
	<array>
		<string>com.apple.amsengagementd.analytics</string>
		<string>com.apple.amsengagementd.internal</string>
		<string>com.apple.amsengagementd.journeys</string>
		<string>com.apple.amsengagementd.recommendations</string>
	</array>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.AppStore</string>
		<string>com.apple.Fitness</string>
		<string>com.apple.iBooks</string>
		<string>com.apple.Music</string>
		<string>com.apple.news</string>
		<string>com.apple.Passbook</string>
		<string>com.apple.tv</string>
		<string>com.apple.podcasts</string>
		<string>com.apple.MobileStore</string>
	</array>
	<key>com.apple.rootless.storage.amsengagementd</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.apple.iBooks</string>
		<string>group.com.apple.news</string>
	</array>
	<key>com.apple.security.attestation.access</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/System/Library/Jet/</string>
		<string>/AppleInternal/Library/Jet/</string>
		<string>/System/Library/AMSEngagement/</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/mobile/Library/Caches/com.apple.amsengagementd.classicdatavault/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.apsd</string>
		<string>com.apple.frontboard.systemappservices</string>
		<string>com.apple.itunescloud.music-subscription-status-service</string>
		<string>com.apple.mobileactivationd</string>
		<string>com.apple.SharedWebCredentials</string>
		<string>com.apple.usernotifications.usernotificationservice</string>
		<string>com.apple.usernotifications.listener</string>
		<string>com.apple.xpc.amsaccountsd</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.engagementd</string>
	</array>
	<key>com.apple.security.ts.cloudkit-client</key>
	<true/>
	<key>com.apple.springboard.remote-alert</key>
	<true/>
	<key>fairplay-client</key>
	<string>1445028844</string>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
	</array>
</dict>
</plist>
