<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.askto.extension.host</key>
	<true/>
	<key>com.apple.imagent</key>
	<true/>
	<key>com.apple.people.legacy.service.extension</key>
	<true/>
	<key>com.apple.private.biome.client-identifier</key>
	<string>com.apple.asktod</string>
	<key>com.apple.private.biome.read-only</key>
	<array>
		<string>ScreenTimeRequest</string>
	</array>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.askto</string>
	</array>
	<key>com.apple.private.ids.messaging.urgent-priority</key>
	<array>
		<string>com.apple.private.alloy.askto</string>
	</array>
	<key>com.apple.private.ids.registration</key>
	<array>
		<string>com.apple.private.alloy.askto</string>
	</array>
	<key>com.apple.private.imcore.insert-messages</key>
	<true/>
	<key>com.apple.private.imcore.spi.database-access</key>
	<true/>
	<key>com.apple.private.sandbox.profile:embedded</key>
	<string>temporary-sandbox</string>
	<key>com.apple.private.screentime-ask</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAddressBook</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.familycircle.agent</string>
		<string>com.apple.identityservicesd.idquery.embedded.auth</string>
		<string>com.apple.imagent.embedded.auth</string>
		<string>com.apple.commcenter.coretelephony.xpc</string>
		<string>com.apple.commcenter.xpc</string>
		<string>com.apple.transparencyd</string>
		<string>com.apple.privacyaccountingd</string>
		<string>com.apple.symptom_diagnostics</string>
		<string>com.apple.synapse.backlink-service</string>
		<string>com.apple.trustd</string>
		<string>com.apple.identityservicesd.embedded.auth</string>
		<string>com.apple.ScreenTimeAgent.ask</string>
		<string>com.apple.biome.PublicStreamAccessService</string>
		<string>com.apple.biome.access.user</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.imessage.bag</string>
		<string>com.apple.messages.nicknames</string>
		<string>com.apple.MobileSMS</string>
		<string>com.apple.AppSupport</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.temporary-exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.familycircle.agent</string>
		<string>com.apple.identityservicesd.idquery.embedded.auth</string>
		<string>com.apple.imagent.embedded.auth</string>
		<string>com.apple.commcenter.coretelephony.xpc</string>
		<string>com.apple.commcenter.xpc</string>
		<string>com.apple.transparencyd</string>
		<string>com.apple.privacyaccountingd</string>
		<string>com.apple.symptom_diagnostics</string>
		<string>com.apple.synapse.backlink-service</string>
		<string>com.apple.trustd</string>
		<string>com.apple.identityservicesd.embedded.auth</string>
		<string>com.apple.ScreenTimeAgent.ask</string>
		<string>com.apple.biome.PublicStreamAccessService</string>
		<string>com.apple.biome.access.user</string>
	</array>
	<key>com.apple.security.ts.identity-services-client</key>
	<true/>
	<key>com.apple.security.ts.mobile-keybag-access</key>
	<true/>
	<key>com.apple.security.ts.tmpdir</key>
	<string>com.apple.asktod</string>
	<key>platform-application</key>
	<true/>
</dict>
</plist>
