<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Outgoing Network Connections</key>
	<true/>
	<key>application-identifier</key>
	<string>com.apple.chronod</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>data-allowed-write</string>
		<string>spi</string>
	</array>
	<key>com.apple.CompanionLink</key>
	<true/>
	<key>com.apple.QuartzCore.secure-mode</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCDynamicStore-write-access</key>
	<true/>
	<key>com.apple.chrono.event-service-publisher</key>
	<true/>
	<key>com.apple.coreduet.knowledge</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.coremedia.decompressionsession</key>
	<true/>
	<key>com.apple.coremedia.mediaplaybackd.videoqueue</key>
	<true/>
	<key>com.apple.coremedia.videocodecd.decompressionsession</key>
	<true/>
	<key>com.apple.coremedia.videocodecd.decompressionsession.xpc</key>
	<true/>
	<key>com.apple.dasd.widgetBudgetReset</key>
	<true/>
	<key>com.apple.developer.device-information.user-assigned-device-name</key>
	<true/>
	<key>com.apple.developer.networking.custom-protocol</key>
	<true/>
	<key>com.apple.duet.activityscheduler.allow</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.intents.extension.discovery</key>
	<true/>
	<key>com.apple.linkd.registry</key>
	<true/>
	<key>com.apple.linkd.registry.waitforready</key>
	<true/>
	<key>com.apple.linkd.transcript.privileged</key>
	<true/>
	<key>com.apple.localizationswitcher</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.usage_oracle</key>
	<true/>
	<key>com.apple.networkd.allow_bootstrap_cellular_service_request</key>
	<true/>
	<key>com.apple.networkd.cellular_blocked.notify</key>
	<true/>
	<key>com.apple.networkd.configure_connection_pool</key>
	<true/>
	<key>com.apple.networkd.disable_opportunistic</key>
	<true/>
	<key>com.apple.networkd.fetch_details</key>
	<true/>
	<key>com.apple.networkd.join_connection_pool</key>
	<true/>
	<key>com.apple.networkd.modify_settings</key>
	<true/>
	<key>com.apple.networkd.override_satisfied</key>
	<true/>
	<key>com.apple.networkd.persistent_interface</key>
	<true/>
	<key>com.apple.networkd.set_account_identifier</key>
	<true/>
	<key>com.apple.networkd.set_persistent</key>
	<true/>
	<key>com.apple.networkd_privileged</key>
	<true/>
	<key>com.apple.networkrelay.companionNetworkDescription</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.lookup</key>
	<dict>
		<key>appData</key>
		<true/>
	</dict>
	<key>com.apple.private.MobileContainerManager.otherIdLookup</key>
	<true/>
	<key>com.apple.private.SkyLight.displaycontrol</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.application-service-browse</key>
	<true/>
	<key>com.apple.private.chrono-extension-host</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.corewifi</key>
	<true/>
	<key>com.apple.private.dark-wake-network-reachability</key>
	<true/>
	<key>com.apple.private.dnssd.prohibit-encrypted-dns</key>
	<true/>
	<key>com.apple.private.healthkit.authorization_events.subscriber</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.widgets</string>
	</array>
	<key>com.apple.private.ids.messaging.urgent-priority</key>
	<array>
		<string>com.apple.private.alloy.widgets</string>
	</array>
	<key>com.apple.private.ids.sub-services</key>
	<array>
		<string>com.apple.private.alloy.widgets</string>
	</array>
	<key>com.apple.private.iokit.batterydataprecise</key>
	<true/>
	<key>com.apple.private.logging.admin</key>
	<true/>
	<key>com.apple.private.memorystatus</key>
	<true/>
	<key>com.apple.private.necp.policies</key>
	<true/>
	<key>com.apple.private.nehelper.privileged</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.network.statistics</key>
	<true/>
	<key>com.apple.private.networkextension.configuration</key>
	<true/>
	<key>com.apple.private.pluginkit.sandbox-override</key>
	<true/>
	<key>com.apple.private.process.suspend-resume.any</key>
	<true/>
	<key>com.apple.private.security.restricted-application-groups</key>
	<string>group.com.apple.chronod</string>
	<key>com.apple.private.security.storage.AppDataContainers</key>
	<true/>
	<key>com.apple.private.security.storage.chronod</key>
	<true/>
	<key>com.apple.private.sessionkit.listener</key>
	<true/>
	<key>com.apple.private.sessionkit.sessionFinisher</key>
	<true/>
	<key>com.apple.private.skywalk.observe-stats</key>
	<true/>
	<key>com.apple.private.skywalk.register-kernel-pipe</key>
	<true/>
	<key>com.apple.private.skywalk.register-user-pipe</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceSystemPolicyAppData</string>
	</array>
	<key>com.apple.private.tcc.events.subscriber</key>
	<true/>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.chronod.diagnostics.usernotifications</string>
	</array>
	<key>com.apple.proactive.infoSuggestion.xpc</key>
	<true/>
	<key>com.apple.rapport.people</key>
	<true/>
	<key>com.apple.rootless.storage.coreduet_knowledge_store</key>
	<true/>
	<key>com.apple.runningboard.assertions.chronod</key>
	<true/>
	<key>com.apple.runningboard.launchprocess</key>
	<true/>
	<key>com.apple.runningboard.process-state</key>
	<true/>
	<key>com.apple.runningboard.sessionkitd</key>
	<true/>
	<key>com.apple.runningboard.terminateprocess</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/Applications/</string>
		<string>/System/Library/CoreServices/</string>
		<string>/AppleInternal/Applications/</string>
		<string>/private/var/containers/Bundle/Application/</string>
		<string>/private/var/mobile/Library/SpringBoard/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-only</key>
	<array>
		<string>/Library/Fonts/AddedFontCache.plist</string>
		<string>/Library/UserConfigurationProfiles/EffectiveUserSettings.plist</string>
		<string>/Library/com.apple.PrivacyDisclosure/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/chronod/</string>
		<string>/Library/com.apple.chrono/</string>
		<string>/Library/com.apple.chronod/</string>
		<string>/Library/Caches/com.apple.chronod/</string>
		<string>/Library/Caches/com.apple.chrono/</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<string>IOHIDLibUserClient</string>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.backboard.hid.services</string>
		<string>com.apple.backboard.display.services</string>
		<string>com.apple.iohideventsystem</string>
		<string>com.apple.frontboard.systemappservices</string>
		<string>com.apple.CARenderServer</string>
		<string>com.apple.UIKit.KeyboardManagement.hosted</string>
		<string>com.apple.duetactivityscheduler</string>
		<string>com.apple.iphone.axserver-systemwide</string>
		<string>com.apple.accessibility.AXBackBoardServer</string>
		<string>com.apple.proactive.infoSuggestion.xpc</string>
		<string>com.apple.powerlog.plxpclogger.xpc</string>
		<string>com.apple.locationd.registration</string>
		<string>com.apple.PointerUI.pointeruid.service</string>
		<string>com.apple.fontservicesd</string>
		<string>com.apple.backboard.hid-services.xpc</string>
		<string>com.apple.springboard.services</string>
		<string>com.apple.locationd.synchronous</string>
		<string>com.apple.backlightd</string>
		<string>com.apple.symptom_diagnostics</string>
		<string>com.apple.localizationswitcherd</string>
		<string>com.apple.sessionservices</string>
		<string>com.apple.coremedia.systemcontroller.xpc</string>
		<string>com.apple.coremedia.compressionsession</string>
		<string>com.apple.coremedia.decompressionsession</string>
		<string>com.apple.mobile.keybagd.xpc</string>
		<string>com.apple.mobile.keybagd.UserManager.xpc</string>
		<string>com.apple.mobile.usermanagerd.xpc</string>
		<string>com.apple.chronoservices.chronodbridge</string>
		<string>com.apple.idsremoteurlconnectionagent.embedded.auth</string>
		<string>com.apple.identityservicesd.embedded.auth</string>
		<string>com.apple.networkd_privileged</string>
		<string>com.apple.private.corewifi-xpc</string>
		<string>com.apple.iconservices</string>
		<string>com.apple.siri.VoiceShortcuts.xpc</string>
		<string>com.apple.linkd.registry</string>
		<string>com.apple.linkd.extension</string>
		<string>com.apple.linkd.transcript</string>
		<string>com.apple.linkd.mediator</string>
		<string>com.apple.StatusKit.local</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.local-name</key>
	<array>
		<string>com.apple.iphone.axserver</string>
	</array>
	<key>com.apple.security.exception.mach-register.global-name</key>
	<array>
		<string>com.apple.chrono.widgetcenterconnection</string>
		<string>com.apple.chronod.gsEvents</string>
		<string>com.apple.chronoservices</string>
	</array>
	<key>com.apple.security.exception.mach-register.local-name</key>
	<array>
		<string>com.apple.iphone.axserver</string>
	</array>
	<key>com.apple.security.exception.process-info</key>
	<true/>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.Preferences</string>
		<string>com.apple.coremedia</string>
		<string>com.apple.UIKit</string>
		<string>com.apple.keyboard</string>
		<string>com.apple.da</string>
		<string>com.apple.SpeakSelection</string>
		<string>com.apple.coreanimation</string>
		<string>com.apple.duetexpertd</string>
		<string>com.apple.frontboardservices.device_emulation</string>
		<string>com.apple.ids</string>
		<string>com.apple.conference</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.chronod</string>
		<string>com.apple.chronod.taskGovernor</string>
		<string>com.apple.uikitservices.userInterfaceStyleMode</string>
		<string>com.apple.facetime.bag</string>
		<string>com.apple.imessage.bag</string>
		<string>com.apple.springboard</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.security.temporary-exception.sbpl</key>
	<array>
		<string>(allow network-outbound)</string>
		<string>(allow network-bind)</string>
		<string>(allow system-socket (socket-domain AF_SYSTEM))</string>
		<string>(allow system-socket (socket-domain 39))</string>
	</array>
	<key>com.apple.security.ts.ipc-posix-shm</key>
	<array>
		<string>/com.apple.chrono.loc-in-use1</string>
		<string>/com.apple.chrono.loc-in-use2</string>
	</array>
	<key>com.apple.security.ts.mach-task-name</key>
	<true/>
	<key>com.apple.security.ts.opengl-or-metal</key>
	<true/>
	<key>com.apple.security.ts.power-assertions</key>
	<true/>
	<key>com.apple.security.ts.render-images</key>
	<true/>
	<key>com.apple.security.ts.tmpdir</key>
	<string>com.apple.chrono</string>
	<key>com.apple.sessionservices</key>
	<true/>
	<key>com.apple.shortcuts.background-running</key>
	<true/>
	<key>com.apple.springboard.requestScene-daemon</key>
	<true/>
	<key>com.apple.symptom_diagnostics.report</key>
	<true/>
	<key>com.apple.symptoms.NetworkOfInterest</key>
	<true/>
	<key>com.apple.symptoms.nw_activity.database</key>
	<true/>
	<key>com.apple.telephony.cupolicy-monitor-access</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>com.apple.wlan.authentication</key>
	<true/>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>temporary-sandbox</string>
	</array>
</dict>
</plist>
