<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.QuartzCore.debug</key>
	<true/>
	<key>com.apple.accessibility.api</key>
	<true/>
	<key>com.apple.appletv.pbs.bulletin-service-access</key>
	<true/>
	<key>com.apple.appstored.octane</key>
	<true/>
	<key>com.apple.assistant.client</key>
	<true/>
	<key>com.apple.backboard.client</key>
	<true/>
	<key>com.apple.backboardd.launchapplications</key>
	<true/>
	<key>com.apple.carousel.backlightaccess</key>
	<true/>
	<key>com.apple.carousel.snapshotservice.dt</key>
	<true/>
	<key>com.apple.companionappd.connect.allow</key>
	<true/>
	<key>com.apple.frontboard.debugapplications</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.gizmoappd.dtsupport.allow</key>
	<true/>
	<key>com.apple.locationd.simulation</key>
	<true/>
	<key>com.apple.multitasking.termination</key>
	<true/>
	<key>com.apple.odr.devtools</key>
	<true/>
	<key>com.apple.private.ClipServices</key>
	<true/>
	<key>com.apple.private.ClipServices.request-install-clips</key>
	<true/>
	<key>com.apple.private.agx.performance-spi</key>
	<true/>
	<key>com.apple.private.cpu-counters.system-control</key>
	<true/>
	<key>com.apple.private.dt.instrumentsxpc.allowed</key>
	<true/>
	<key>com.apple.private.hid.client.event-dispatch</key>
	<true/>
	<key>com.apple.private.kernel.get-kext-info</key>
	<true/>
	<key>com.apple.private.logging.admin</key>
	<true/>
	<key>com.apple.private.logging.diagnostic</key>
	<true/>
	<key>com.apple.private.logging.stream</key>
	<true/>
	<key>com.apple.private.memorystatus</key>
	<true/>
	<key>com.apple.private.perfpowerservices.metricmonitor</key>
	<true/>
	<key>com.apple.private.pluginkit.manager</key>
	<true/>
	<key>com.apple.private.pmp.performance-spi</key>
	<true/>
	<key>com.apple.private.sandbox.profile:embedded</key>
	<string>temporary-sandbox</string>
	<key>com.apple.private.security.storage.AppDataContainers</key>
	<true/>
	<key>com.apple.private.security.storage.Spotlight</key>
	<true/>
	<key>com.apple.private.skywalk.observe-all</key>
	<true/>
	<key>com.apple.private.skywalk.register-flow-switch</key>
	<true/>
	<key>com.apple.private.skywalk.register-user-pipe</key>
	<true/>
	<key>com.apple.private.stackshot</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAddressBook</string>
	</array>
	<key>com.apple.private.usernotifications.notification-simulator</key>
	<true/>
	<key>com.apple.private.xpc.service-attach</key>
	<true/>
	<key>com.apple.private.xpc.service-configure</key>
	<true/>
	<key>com.apple.runningboard.developertools</key>
	<true/>
	<key>com.apple.runningboard.process-state</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/.file</string>
		<string>/.roots-installed</string>
		<string>/private/var</string>
		<string>/private/var/mobile/Library/UserConfigurationProfiles/EffectiveUserSettings.plist</string>
		<string>/private/var/containers</string>
		<string>/private/var/containers/Bundle</string>
		<string>/private/var/containers/Bundle/Application/</string>
		<string>/private/var/db/</string>
		<string>/Applications/</string>
		<string>/System/DriverKit/System/Library/dyld</string>
		<string>/Library/Audio/Plug-Ins/HAL/VirtualAudio.plugin/VirtualAudio</string>
		<string>/bin/</string>
		<string>/sbin/</string>
		<string>/dev/</string>
		<string>/usr/</string>
		<string>/AppleInternal/</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/mobile/Library/Preferences/com.apple.LoadedConditionInducer.plist</string>
		<string>/private/var/tmp/</string>
		<string>/private/var/mobile/tmp/</string>
		<string>/private/var/mobile/Containers/Data/Application/</string>
		<string>/private/var/mobile/Containers/Data/PluginKitPlugin/</string>
		<string>/private/var/root/Library/Caches/com.apple.DTServiceHub/</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>AGXCommandQueue</string>
		<string>AGXDevice</string>
		<string>AGXDeviceUserClient</string>
		<string>AGXSharedUserClient</string>
		<string>IOAccelContext</string>
		<string>IOAccelContext2</string>
		<string>IOAccelDevice</string>
		<string>IOAccelDevice2</string>
		<string>IOAccelSharedUserClient</string>
		<string>IOAccelSharedUserClient2</string>
		<string>IOAccelSubmitter2</string>
		<string>IOGPUDeviceUserClient</string>
		<string>IOSurfaceRootUserClient</string>
		<string>ApplePMPUserClient</string>
		<string>ApplePMPv2UserClient</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.PerfPowerMetricMonitor.xpc</string>
		<string>com.apple.siri.activation.service</string>
		<string>com.apple.assistant.analytics</string>
		<string>com.apple.assistant.client</string>
		<string>com.apple.assistant.settings</string>
		<string>com.apple.gizmoappd.dtsupport</string>
		<string>com.apple.metrickitsource.xpc</string>
		<string>com.apple.storekit.configuration.xpc</string>
		<string>com.apple.ClipServices.clipserviced</string>
		<string>com.apple.sysmond</string>
		<string>com.apple.CARenderServer</string>
		<string>com.apple.lsd.xpc</string>
		<string>com.apple.ondemandd.devtools</string>
		<string>com.apple.coresymbolicationd</string>
		<string>com.apple.powerlogHelperd.XPCService.xpc</string>
		<string>com.apple.dt.DTConditionInducerSupportService</string>
		<string>com.apple.dt.DTScreenshotService</string>
		<string>com.apple.locationd.simulation</string>
		<string>com.apple.companionappd</string>
		<string>com.apple.carousel.backlightxpc</string>
		<string>com.apple.iohideventsystem</string>
		<string>com.apple.SBUserNotification</string>
		<string>com.apple.preview-shell.system-services</string>
		<string>com.apple.preview-shell.host-agent-pipe-services</string>
		<string>com.apple.preview-shell.host-shell-pipe-services</string>
		<string>com.apple.FileCoordination</string>
		<string>com.apple.PrototypeTools.domainserver</string>
		<string>com.apple.SystemConfiguration.configd</string>
		<string>com.apple.aggregated</string>
		<string>com.apple.analyticsd</string>
		<string>com.apple.cfprefsd.daemon</string>
		<string>com.apple.cfprefsd.daemon.system</string>
		<string>com.apple.containermanagerd</string>
		<string>com.apple.containermanagerd.system</string>
		<string>com.apple.distributed_notifications@1v3</string>
		<string>com.apple.frontboard.systemappservices</string>
		<string>com.apple.gpumemd.source</string>
		<string>com.apple.gputools.producer</string>
		<string>com.apple.gputools.service</string>
		<string>com.apple.logd</string>
		<string>com.apple.logd.admin</string>
		<string>com.apple.lsd.icons</string>
		<string>com.apple.lsd.mapdb</string>
		<string>com.apple.pluginkit.pkd</string>
		<string>com.apple.runningboard</string>
		<string>com.apple.springboard.statusbarservices</string>
		<string>com.apple.system.notification_center</string>
		<string>com.apple.trustd</string>
		<string>com.apple.MTLCompilerService</string>
		<string>com.apple.iconservices</string>
	</array>
	<key>com.apple.security.exception.process-info</key>
	<true/>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.cltm</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.CFNetwork</string>
		<string>com.apple.DTServiceHub</string>
	</array>
	<key>com.apple.security.exception.sysctl.read-only</key>
	<array>
		<string>kern.uuid</string>
		<string>kern.thread_groups_supported</string>
		<string>vm.swapusage</string>
		<string>vm.vm_max_kernel_address</string>
		<string>vm.pages</string>
		<string>vm.vm_min_kernel_address</string>
		<string>vm.vm_max_kernel_address</string>
		<string>ktrace.state</string>
		<string>ktrace.owning_pid</string>
		<string>ktrace.configured_by</string>
		<string>kperf.blessed_pid</string>
		<string>kperf.lazy.cpu_action</string>
		<string>kperf.lazy.cpu_time_threshold</string>
		<string>kperf.lazy.wait_action</string>
		<string>kperf.lazy.wait_time_threshold</string>
		<string>kperf.pet_idle_rate</string>
		<string>machdep.remotetime.conversion_params</string>
		<string>vfs.generic.trace_paths</string>
		<string>kern.monotonic.supported</string>
	</array>
	<key>com.apple.security.exception.sysctl.read-write</key>
	<array>
		<string>kperf.blessed_preempt</string>
		<string>kperf.kperf.blessed_pid</string>
		<string>kperf.sampling</string>
		<string>kperf.kdebug.action</string>
		<string>kperf.kdebug.action.filter_by_pid</string>
		<string>kperf.kdebug.action.ucallstack_depth</string>
		<string>kperf.kdebug.action.samplers</string>
		<string>kperf.kdebug.action.kdbg_cswitch</string>
		<string>kperf.kdebug.filter</string>
		<string>kperf.timer.count</string>
		<string>kperf.action.count</string>
		<string>kperf.reset</string>
		<string>kperf.kdbg_cswitch</string>
		<string>kperf.action.samplers</string>
		<string>kperf.action.ucallstack_depth</string>
		<string>kperf.action.filter_by_pid</string>
		<string>kperf.timer.action</string>
		<string>kperf.timer.period</string>
		<string>kperf.timer.pet_timer</string>
		<string>kperf.action.userdata</string>
		<string>kperf.lightweight_pet</string>
		<string>kpc.counting</string>
		<string>kpc.config_count</string>
		<string>kpc.force_all_ctrs</string>
		<string>kpc.config</string>
		<string>kpc.counter_count</string>
		<string>kpc.actionid</string>
		<string>kpc.period</string>
		<string>vm.pagesize</string>
		<string>kern.memorystatus_vm_pressure_send</string>
	</array>
	<key>com.apple.security.network.server</key>
	<true/>
	<key>com.apple.security.ts.NWSystemPathMonitor</key>
	<true/>
	<key>com.apple.security.ts.mach-task-name</key>
	<true/>
	<key>com.apple.security.ts.system-info</key>
	<true/>
	<key>com.apple.security.ts.xpc-service-name</key>
	<array>
		<string>com.apple.dt.instruments.dtsecurity.xpc</string>
		<string>com.apple.coresymbolicationd</string>
		<string>com.apple.ondemandd.devtools</string>
		<string>com.apple.swiftuitracingsupport.xpc</string>
	</array>
	<key>com.apple.siri.activation.service</key>
	<true/>
	<key>com.apple.springboard.activateassistant</key>
	<true/>
	<key>com.apple.springboard.debugapplications</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.statusbarstyleoverrides</key>
	<true/>
	<key>com.apple.springboard.statusbarstyleoverrides.coordinator</key>
	<array>
		<string>UIStatusBarStyleOverrideDeveloperTools</string>
	</array>
	<key>com.apple.sysmond.client</key>
	<true/>
	<key>platform-application</key>
	<true/>
</dict>
</plist>
