<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.findmy.findmylocated</string>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>UniqueChipID</string>
		<string>BuildVersion</string>
		<string>ProductType</string>
		<string>ProductVersion</string>
		<string>UniqueDeviceID</string>
		<string>UserAssignedDeviceName</string>
		<string>SerialNumber</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/usr/libexec</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.geod</string>
		<string>com.apple.icloud.searchpartyd.securelocations</string>
		<string>com.apple.apsd</string>
		<string>com.apple.accountsd.accountmanager</string>
		<string>com.apple.securityd</string>
		<string>com.apple.timed.xpc</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.findmy.findmylocated</string>
	</array>
	<key>com.apple.security.exception.sysctl.read-only</key>
	<array>
		<string>kern.bootsessionuuid</string>
	</array>
	<key>com.apple.security.system-container</key>
	<true/>
	<key>com.apple.security.ts.mobile-keybag-access</key>
	<true/>
	<key>com.apple.timed</key>
	<true/>
	<key>platform-application</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>temporary-sandbox</string>
	</array>
</dict>
</plist>
