<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
	</array>
	<key>com.apple.CoreRoutine.SafetyMonitor</key>
	<true/>
	<key>com.apple.companionappd.connect.allow</key>
	<true/>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.imagent.chat</key>
	<true/>
	<key>com.apple.imagent.chat.av</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.emergency_enabler</key>
	<true/>
	<key>com.apple.nano.nanoregistry.generalaccess</key>
	<true/>
	<key>com.apple.private.attribution.implicitly-assumed-identity</key>
	<dict>
		<key>type</key>
		<string>path</string>
		<key>value</key>
		<string>/System/Library/PrivateFrameworks/SOS.framework/sosd</string>
	</dict>
	<key>com.apple.private.healthkit.medicaliddata</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.soscoordination</string>
	</array>
	<key>com.apple.private.ids.messaging.urgent-priority</key>
	<array>
		<string>com.apple.private.alloy.soscoordination</string>
	</array>
	<key>com.apple.private.ids.phone-number-authentication</key>
	<true/>
	<key>com.apple.private.sandbox.profile:embedded</key>
	<string>temporary-sandbox</string>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAddressBook</string>
	</array>
	<key>com.apple.private.tcc.manager.access.modify</key>
	<array>
		<string>kTCCServiceCrashDetection</string>
	</array>
	<key>com.apple.private.tcc.manager.access.read</key>
	<array>
		<string>kTCCServiceCrashDetection</string>
	</array>
	<key>com.apple.private.tcc.manager.check-by-audit-token</key>
	<array>
		<string>kTCCServiceCrashDetection</string>
	</array>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.sosd.usernotification</string>
	</array>
	<key>com.apple.runningboard.launchprocess</key>
	<true/>
	<key>com.apple.runningboard.safetykit</key>
	<true/>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/AddressBook/</string>
		<string>/Library/SOS/</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>AppleKeyStoreUserClient</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.mobileactivationd</string>
		<string>com.apple.trustd</string>
		<string>com.apple.spotlight.IndexAgent</string>
		<string>com.apple.remindd</string>
		<string>com.apple.synapse.backlink-service</string>
		<string>com.apple.dmd.emergency-mode</string>
		<string>com.apple.dmd.policy</string>
		<string>com.apple.ScreenTimeAgent.private</string>
		<string>com.apple.symptom_diagnostics</string>
		<string>com.apple.SystemConfiguration.configd</string>
		<string>com.apple.sos</string>
		<string>com.apple.routined.safetyMonitor</string>
		<string>com.apple.awdd</string>
		<string>com.apple.commcenter.xpc</string>
		<string>com.apple.commcenter.coretelephony.xpc</string>
		<string>com.apple.ABDatabaseDoctor</string>
		<string>com.apple.privacyaccountingd</string>
		<string>com.apple.healthd.server</string>
		<string>com.apple.telephonyutilities.callservicesdaemon.callstatecontroller</string>
		<string>com.apple.telephonyutilities.callservicesdaemon.callcapabilities</string>
		<string>com.apple.imagent.embedded.auth</string>
		<string>com.apple.corespeech.voicetriggerservice</string>
		<string>com.apple.SBUserNotification</string>
		<string>com.apple.audio.AudioSession</string>
		<string>com.apple.identityservicesd.idquery.embedded.auth</string>
	</array>
	<key>com.apple.security.exception.process-info</key>
	<true/>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.mobileslideshow</string>
		<string>com.apple.voicetrigger</string>
		<string>com.apple.MobileSMS</string>
		<string>com.apple.ScreenTimeAgent</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.SocialLayer</string>
		<string>com.apple.facetime.bag</string>
		<string>com.apple.sosd</string>
		<string>com.apple.imessage.bag</string>
		<string>com.apple.SOS</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.ts.geoservices</key>
	<true/>
	<key>com.apple.security.ts.identity-services-client</key>
	<true/>
	<key>com.apple.security.ts.location-services</key>
	<true/>
	<key>com.apple.security.ts.read-any-bundle</key>
	<true/>
	<key>com.apple.security.ts.springboard-services</key>
	<true/>
	<key>com.apple.security.ts.tmpdir</key>
	<string>com.apple.sosd</string>
	<key>com.apple.sos.contacts</key>
	<true/>
	<key>com.apple.sos.trigger</key>
	<true/>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.allowallcallurls</key>
	<true/>
	<key>com.apple.springboard.statusbarstyleoverrides</key>
	<true/>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<array>
		<string>access-call-providers</string>
		<string>access-calls</string>
		<string>modify-calls</string>
	</array>
	<key>com.apple.voicetrigger.voicetriggerservice</key>
	<true/>
	<key>platform-application</key>
	<true/>
</dict>
</plist>
