<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.videosubscriptionsd</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>aps-environment</key>
	<string>production</string>
	<key>com.apple.VideoSubscriberAccount.DeveloperService</key>
	<true/>
	<key>com.apple.application-identifier</key>
	<string>com.apple.videosubscriptionsd</string>
	<key>com.apple.developer.aps-environment</key>
	<string>production</string>
	<key>com.apple.developer.device-information.user-assigned-device-name</key>
	<true/>
	<key>com.apple.developer.icloud-container-environment</key>
	<string>Production</string>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>com.apple.tv.federated</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>SerialNumber</string>
		<string>UserAssignedDeviceName</string>
	</array>
	<key>com.apple.private.applemediaservices</key>
	<true/>
	<key>com.apple.private.aps-connection-initiate</key>
	<true/>
	<key>com.apple.private.cloudkit.serviceNameForContainerMap</key>
	<dict>
		<key>com.apple.tv.federated</key>
		<string>com.apple.tv.federated</string>
	</dict>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceLiverpool</string>
	</array>
	<key>com.apple.private.tcc.manager.access.read</key>
	<array>
		<string>kTCCServiceAll</string>
	</array>
	<key>com.apple.private.tcc.manager.check-by-audit-token</key>
	<array>
		<string>kTCCServiceMSO</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.watchlistd.xpc</string>
		<string>com.apple.apsd</string>
		<string>com.apple.cloudd</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.purplebuddy</string>
		<string>com.apple.VideoSubscriberAccount</string>
	</array>
	<key>com.apple.security.temporary-exception.*</key>
	<array>
		<string>com.apple.tccd</string>
		<string>kCFPreferencesAnyApplication</string>
	</array>
	<key>com.apple.security.temporary-exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.tccd</string>
	</array>
	<key>com.apple.watchlist.private</key>
	<true/>
	<key>fairplay-client</key>
	<string>1700658526</string>
	<key>keychain-access-groups</key>
	<array>
		<string>com.apple.VideoSubscriberAccount</string>
	</array>
	<key>seatbelt-profiles</key>
	<array>
		<string>videosubscriptionsd</string>
	</array>
</dict>
</plist>
