<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.private.sandbox.profile:embedded</key>
	<string>temporary-sandbox</string>
	<key>com.apple.security.system-container</key>
	<true/>
	<key>com.apple.security.ts.tmpdir</key>
	<string>com.apple.dt.ViewHierarchyAgent</string>
	<key>platform-application</key>
	<true/>
</dict>
</plist>
