<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adi-client</key>
	<string>409835401</string>
	<key>application-identifier</key>
	<string>com.apple.amsaccountsd</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>aps-environment</key>
	<string>serverPreferred</string>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
	</array>
	<key>com.apple.TapToRadarKit.service-access</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.accounts.appleidauthentication.defaultaccess</key>
	<true/>
	<key>com.apple.accounts.idms.fullaccess</key>
	<true/>
	<key>com.apple.application-identifier</key>
	<string>com.apple.amsaccountsd</string>
	<key>com.apple.appstored.iap-info</key>
	<true/>
	<key>com.apple.asd.client</key>
	<string>9824938448</string>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.cards.all-access</key>
	<true/>
	<key>com.apple.carousel.onWristMonitor.actions</key>
	<array>
		<string>monitor</string>
	</array>
	<key>com.apple.coreidvd.spi</key>
	<true/>
	<key>com.apple.coretelephony.Identity.get</key>
	<true/>
	<key>com.apple.developer.aps-environment</key>
	<string>serverPreferred</string>
	<key>com.apple.developer.device-information.user-assigned-device-name</key>
	<true/>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.developer.icloud-container-environment</key>
	<string>Production</string>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>com.apple.applemediaservices.multiuser</string>
		<string>com.apple.applemediaservices.multiuser.qa</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.developer.networking.wifi-info</key>
	<true/>
	<key>com.apple.keystore.absinthe</key>
	<true/>
	<key>com.apple.keystore.sik.access</key>
	<true/>
	<key>com.apple.mobileactivationd.device-identifiers</key>
	<true/>
	<key>com.apple.mobileactivationd.spi</key>
	<true/>
	<key>com.apple.nfcd.hwmanager</key>
	<true/>
	<key>com.apple.nfcd.info</key>
	<true/>
	<key>com.apple.nfcd.session.se</key>
	<true/>
	<key>com.apple.payment.all-access</key>
	<true/>
	<key>com.apple.payment.amp-card-enrollment</key>
	<true/>
	<key>com.apple.payment.card-on-file</key>
	<true/>
	<key>com.apple.private.CoreAuthentication.SPI</key>
	<true/>
	<key>com.apple.private.FairPlayIOKitUserClient.access</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>SerialNumber</string>
		<string>UniqueChipID</string>
		<string>UniqueDeviceID</string>
	</array>
	<key>com.apple.private.ProvInfoIOKitUserClient.access</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.applemediaservices</key>
	<true/>
	<key>com.apple.private.aps-connection-initiate</key>
	<true/>
	<key>com.apple.private.bmk.allow</key>
	<true/>
	<key>com.apple.private.cfnetwork.har-capture-amp</key>
	<true/>
	<key>com.apple.private.cloudkit.serviceNameForContainerMap</key>
	<dict>
		<key>com.apple.applemediaservices.multiuser</key>
		<string>com.apple.applemediaservices.multiuser</string>
	</dict>
	<key>com.apple.private.cloudkit.systemService</key>
	<true/>
	<key>com.apple.private.followup</key>
	<true/>
	<key>com.apple.private.homekit</key>
	<true/>
	<key>com.apple.private.homekit.multi-user.setup</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.amsaccountsync</string>
	</array>
	<key>com.apple.private.ids.messaging.urgent-priority</key>
	<array>
		<string>com.apple.private.alloy.amsaccountsync</string>
	</array>
	<key>com.apple.private.ids.phone-number-authentication</key>
	<true/>
	<key>com.apple.private.ignore-preferences-size-limits</key>
	<true/>
	<key>com.apple.private.in-app-payments</key>
	<true/>
	<key>com.apple.private.security.storage.AppleMediaServices</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceLiverpool</string>
		<string>kTCCServiceWillow</string>
		<string>kTCCServiceFaceID</string>
	</array>
	<key>com.apple.private.usernotifications.bundle-identifiers</key>
	<array>
		<string>com.apple.AppleMediaServicesUI.engagement.notifications</string>
		<string>com.apple.AppleMediaServicesUI.engagement.notifications.macOS</string>
		<string>com.apple.AppStore</string>
		<string>com.apple.Music</string>
		<string>com.apple.tv</string>
		<string>com.apple.Fitness</string>
	</array>
	<key>com.apple.security.attestation.access</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.Carousel.wristmonitor</string>
		<string>com.apple.adid.xpc</string>
		<string>com.apple.commcenter.coretelephony.xpc</string>
		<string>com.apple.commcenter.xpc</string>
		<string>com.apple.coreidvd.proofing</string>
		<string>com.apple.itunescloud.music-subscription-status-service</string>
		<string>com.apple.mobileactivationd</string>
		<string>com.apple.passd.in-app-payment</string>
		<string>com.apple.passd.library</string>
		<string>com.apple.usernotifications.usernotificationservice</string>
		<string>com.apple.xpc.amsserverdatacacheservice</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.applicationaccess</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<string>com_apple_driver_FairPlayIOKitUserClient</string>
	<key>com.apple.security.system-group-containers</key>
	<array>
		<string>systemgroup.com.apple.mobileactivationd</string>
	</array>
	<key>com.apple.springboard.remote-alert</key>
	<true/>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<array>
		<string>access-calls</string>
	</array>
	<key>com.apple.watchlist.private</key>
	<true/>
	<key>fairplay-client</key>
	<string>1445028844</string>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.asd</string>
	</array>
</dict>
</plist>
