<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.TextInput.rdt.me</key>
	<true/>
	<key>com.apple.UIKit.vends-view-services</key>
	<true/>
	<key>com.apple.authentication-services.access-credential-identities</key>
	<true/>
	<key>com.apple.captive.private</key>
	<true/>
	<key>com.apple.developer.web-payments</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled.configurationprofiles</key>
	<array>
		<string>UIInstallation</string>
	</array>
	<key>com.apple.private.CoreAuthentication.BackgroundUI</key>
	<true/>
	<key>com.apple.private.CoreAuthentication.SPI</key>
	<true/>
	<key>com.apple.private.associated-domains</key>
	<true/>
	<key>com.apple.private.attribution.implicitly-assumed-identity</key>
	<dict>
		<key>type</key>
		<string>path</string>
		<key>value</key>
		<string>/Applications/WebSheet.app/WebSheet</string>
	</dict>
	<key>com.apple.private.canGetAppLinkInfo</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.imcore.imagent</key>
	<true/>
	<key>com.apple.private.necp.match</key>
	<true/>
	<key>com.apple.private.security.container-required</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServiceFaceID</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/mobile/Library/Preferences/com.apple.WebUI.plist</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.mobile.keybagd.xpc</string>
		<string>com.apple.symptom_diagnostics</string>
		<string>com.apple.springboard.backgroundappservices</string>
		<string>com.apple.parsecd</string>
		<string>com.apple.networking.captivenetworksupport</string>
		<string>com.apple.mobilemail.services.xpc</string>
		<string>com.apple.mobilemail.messageuiservices</string>
		<string>com.apple.mobilemail</string>
		<string>com.apple.eventpump</string>
		<string>com.apple.coremedia.figcontentkeysession.xpc</string>
		<string>com.apple.coremedia.customurlloader.xpc</string>
		<string>com.apple.coremedia.asset.xpc</string>
		<string>com.apple.coremedia.mediaplaybackd.asset.xpc</string>
		<string>com.apple.coremedia.mediaplaybackd.customurlloader.xpc</string>
		<string>com.apple.coremedia.mediaplaybackd.figcontentkeysession.xpc</string>
		<string>com.apple.commcenter.xpc</string>
		<string>com.apple.certui.relay</string>
		<string>com.apple.awdd</string>
		<string>com.apple.analyticsd</string>
		<string>com.apple.CoreAuthentication.daemon</string>
		<string>com.apple.ABDatabaseDoctor</string>
		<string>PurpleSystemEventPort</string>
		<string>PurpleSystemAppPort</string>
		<string>com.apple.mobilesafari-settings</string>
		<string>com.apple.managedconfiguration.profiled</string>
		<string>com.apple.email.maild</string>
	</array>
	<key>com.apple.springboard.opensensitiveurl</key>
	<array>
		<string>prefs:root=WIFI</string>
		<string>com-apple-mobilesafari-tab</string>
	</array>
	<key>com.apple.springboard.openurlinbackground</key>
	<true/>
	<key>com.apple.springboard.remote-alert</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>com.apple.cfnetwork</string>
		<string>com.apple.mobilesafari</string>
		<string>com.apple.certificates</string>
		<string>com.apple.safari.credit-cards</string>
	</array>
</dict>
</plist>
