<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>0000000000.com.apple.ClipViewService</string>
	<key>com.apple.QuartzCore.secure-mode</key>
	<true/>
	<key>com.apple.UIKit.vends-view-services</key>
	<true/>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.backboardd</key>
	<true/>
	<key>com.apple.developer.associated-domains</key>
	<array/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.locationd.authorizeapplications</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.lsapplicationworkspace.rebuildappdatabases</key>
	<true/>
	<key>com.apple.private.ClipServices</key>
	<true/>
	<key>com.apple.private.ClipServices.request-install-clips</key>
	<true/>
	<key>com.apple.private.applemediaservices</key>
	<true/>
	<key>com.apple.private.appstored</key>
	<array>
		<string>Clip</string>
	</array>
	<key>com.apple.private.canGetAppLinkInfo</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.coreservices.canopenactivity</key>
	<true/>
	<key>com.apple.private.launchservices.canspecifysourceapplication</key>
	<true/>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string>UninstallForLaunchServices</string>
		<string>InstallForLaunchServices</string>
		<string>Install</string>
		<string>Lookup</string>
		<string>Archive</string>
		<string>RemoveArchive</string>
		<string>CheckCapabilitiesMatch</string>
	</array>
	<key>com.apple.private.security.storage.clipserviced</key>
	<true/>
	<key>com.apple.private.swc.system-app</key>
	<true/>
	<key>com.apple.private.usernotifications.settings</key>
	<array>
		<string>read</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/WebClips/</string>
		<string>/Library/Caches/com.apple.ClipServices/</string>
		<string>/Library/Caches/com.apple.ClipServices.clipserviced/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.appstored.xpc</string>
		<string>com.apple.lsd.modifydb</string>
		<string>com.apple.iconservices</string>
		<string>com.apple.ClipServices.clipserviced</string>
		<string>com.apple.usernotifications.usernotificationsettingsservice</string>
		<string>com.apple.webprivacyd</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.ClipServices</string>
	</array>
	<key>com.apple.springboard.addWebClipToHomeScreen</key>
	<true/>
	<key>com.apple.springboard.dimSumService</key>
	<true/>
	<key>com.apple.springboard.hardware-button-service.event-consumption</key>
	<true/>
	<key>com.apple.springboard.removeWebClipFromHomeScreen</key>
	<true/>
	<key>com.apple.springboard.webClipService</key>
	<true/>
</dict>
</plist>
