<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CARAppHidden</key>
	<true/>
	<key>CARCapableApp</key>
	<true/>
	<key>com.apple.developer.carp</key>
	<true/>
	<key>com.apple.private.carp</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/mobile/Library/CarPlay/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.carpd.xpc</string>
		<string>com.apple.caraccessoryframework.gatekeeper</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.CarPlayApp</string>
	</array>
</dict>
</plist>
