<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DataProtectionClass</key>
	<string>NSFileProtectionComplete</string>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.UIKit.vends-view-services</key>
	<true/>
	<key>com.apple.accounts.facebook.defaultaccess</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.developer.game-center</key>
	<array>
		<string>Account</string>
		<string>Scores</string>
		<string>Achievements</string>
		<string>Challenges</string>
		<string>Multiplayer</string>
		<string>TurnBasedMultiplayer</string>
	</array>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.mobile.deleted.AllowFreeSpace</key>
	<true/>
	<key>com.apple.private.AppleMediaServices</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.appleaccount.app-hidden-from-icloud-settings</key>
	<true/>
	<key>com.apple.private.appstorecomponents</key>
	<true/>
	<key>com.apple.private.contactsui</key>
	<true/>
	<key>com.apple.private.game-center</key>
	<array>
		<string>Account</string>
		<string>Authenticate</string>
		<string>Profile</string>
		<string>Friends</string>
		<string>Games</string>
		<string>Scores</string>
		<string>Achievements</string>
		<string>Challenges</string>
		<string>Multiplayer</string>
		<string>TurnBasedMultiplayer</string>
		<string>GameStats</string>
	</array>
	<key>com.apple.private.mobilesms.messages-recipient-vetting</key>
	<true/>
	<key>com.apple.private.security.container-required</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAddressBook</string>
	</array>
	<key>com.apple.private.tcc.allow.overridable</key>
	<array>
		<string>kTCCServiceAddressBook</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.ak.auth.xpc</string>
		<string>com.apple.cdp.daemon</string>
		<string>com.apple.mobile.keybagd.xpc</string>
		<string>com.apple.appstorecomponentsd.xpc</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.gamecenter</string>
		<string>com.apple.demo-settings</string>
		<string>com.apple.AppStoreComponents</string>
	</array>
	<key>com.apple.springboard.launchapplications</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.openurlinbackground</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
	</array>
</dict>
</plist>
