<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.accessibility.axassetsd</string>
	<key>com.apple.application-identifier</key>
	<string>com.apple.accessibility.axassetsd</string>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.SoundDetectionModels</string>
		<string>com.apple.MobileAsset.AXIconVision</string>
		<string>com.apple.MobileAsset.AXElementVision</string>
		<string>com.apple.MobileAsset.AudiogramAssets</string>
		<string>com.apple.MobileAsset.TTSAXResourceModelAssets</string>
		<string>com.apple.MobileAsset.MagnifierAsset</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriTextToSpeech</string>
	</array>
	<key>com.apple.private.assets.bypass-asset-types-check</key>
	<true/>
	<key>com.apple.private.assets.change-daemon-config</key>
	<true/>
	<key>com.apple.private.coreaudio.allow-au-extensions-daemon</key>
	<true/>
	<key>com.apple.private.ignore-preferences-size-limits</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceVoiceBanking</string>
	</array>
	<key>com.apple.private.tcc.manager</key>
	<true/>
	<key>com.apple.private.tcc.manager.access.modify</key>
	<array>
		<string>kTCCServiceVoiceBanking</string>
	</array>
	<key>com.apple.private.tcc.manager.access.read</key>
	<array>
		<string>kTCCServiceVoiceBanking</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/MobileAsset/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.tccd</string>
		<string>com.apple.voiceservices.tts</string>
		<string>com.apple.accessibility.AccessibilityUIServer</string>
		<string>com.apple.mobileasset.autoasset</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.Accessibility</string>
		<string>com.apple.Accessibility.Assets</string>
		<string>com.apple.voiceservices</string>
	</array>
	<key>com.apple.security.temporary-exception.audio-unit-host</key>
	<true/>
	<key>com.apple.security.temporary-exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/MobileAsset/</string>
	</array>
	<key>com.apple.trial.client</key>
	<array>
		<string>406</string>
	</array>
	<key>inter-app-audio</key>
	<true/>
</dict>
</plist>
